.chat-side
  .side-header
    .side-header__box
      %p.side-header__contents__user
        = current_user.name
      %ul.side-header__box__menu
        %li.side-header__box__menu__new-group
          = link_to new_group_path do
            = icon('fas', 'fa fa-edit' , class: 'icon fa-lg')
        %li.side-header__box__menu__edit-user
          = link_to edit_user_path(current_user) do
            = icon('fas', 'fa fa-cog', class: 'icon fa-lg')

  .groups
    - current_user.groups.each do |group|
      .group
        = link_to group_messages_path(group.id) do
          .group__name
            = group.name
          .group__message
            = group.show_last_post



-# <i class="fa fa-cog"></i>